{% extends 'app/base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 50px auto; padding: 10px;">
    <h1>Asignar Empleado a Proyecto</h1>
    <form method="post">
        {% csrf_token %}
        
        <p>
            <label>{{ form.worker.label }}:</label><br>
            {{ form.worker }}
            {% if form.worker.errors %}<br><span style="color: red;">{{ form.worker.errors }}</span>{% endif %}
        </p>
        
        <p>
            <label>{{ form.proyect.label }}:</label><br>
            {{ form.proyect }}
            {% if form.proyect.errors %}<br><span style="color: red;">{{ form.proyect.errors }}</span>{% endif %}
        </p>
        
        <p>
            <label>{{ form.position.label }}:</label><br>
            {{ form.position }}
            {% if form.position.errors %}<br><span style="color: red;">{{ form.position.errors }}</span>{% endif %}
        </p>
        
        <p>
            <label>{{ form.bonus_pay.label }}:</label><br>
            {{ form.bonus_pay }}
            {% if form.bonus_pay.errors %}<br><span style="color: red;">{{ form.bonus_pay.errors }}</span>{% endif %}
        </p>
        
        <p>
            <button type="submit" style="background: rgb(5, 146, 0); color: white; padding: 10px 20px; border: none;">
                Asignar Empleado
            </button>
        </p>
    </form>
</div>
{% endblock %}
