<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructora BD</title>
    {% load static %}

    
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

    <header id="banner">
        <h1>Constructora BD</h1>
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'registro_empleado' %}">Registrar Empleado</a></li>
                <li><a href="{% url 'lista_empleados' %}">Lista Empleados</a></li>
                <li><a href="{% url 'asignar_empleado_proyecto' %}">Asignar Empleado a Proyecto</a></li>
                <li><a href="{% url 'lista_asignaciones' %}">Ver Asignaciones</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">

        {% block content %}

        {% endblock %}

    </div>
    {% block js %}

    {% endblock %}

    <footer>
        <p>2025 Bases de datos</p>
       <nav id="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        {% if user.is_authenticated %}
            <li>
                <form action="{% url 'salir' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">Salir</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Ingresar</a></li>
        {% endif %}
    </ul>
</nav>
    </footer>
    
</body>
</html>