{% extends "app/base.html" %}
{% load static %}
{% block content %}
<div style="max-width: 600px; margin: 50px auto;">
    <h2>Agregar Profesión</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <p>
            <label>{{ form.name.label_tag }}:</label><br>
            {{ form.name }}
            {% if form.name.errors %}
                <br><span class="text-danger">{{ form.name.errors }}</span>
            {% endif %}
        </p>
        <p>
            <button type="submit" style="background: rgb(5, 146, 0); color: white; padding: 10px 20px; border: none;">
                Agregar Profesión
            </button>
        </p>
    </form>
</div>
{% endblock %}