{% extends 'app/base.html' %}
{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registro_capacitacion' %}" id="btn_reg"> Registrar Nueva Capacitación </a>
</p>

<div style="max-width: 600px; margin: 50px auto;">
<h1>Lista de Capacitaciones</h1>

     {% if capacitaciones %}
        <table border="1" style="width: 110%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f46464; color: #ffffff">
                    <th style="padding: 10px;">Nombre</th>
                    <th style="padding: 10px;">Institución</th>
                    <th style="padding: 10px;">Fecha de término</th>
                    <th style="padding: 10px;">Certificado Fin</th>
                </tr>
            </thead>
            <tbody>
                {% for cap in capacitaciones %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ cap.name }}</td>
                    <td style="padding: 10px;">{{ cap.institution }}</td>
                    <td style="padding: 10px;">{{ cap.end_date }}</td>
                    <td style="padding: 10px;">{{ cap.cert }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay capacitaciones registrados.</p>
    {% endif %}
</div>
{% endblock %}