{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<p style="margin-top: 20px;">
    <a href="{% url 'asignar_empleado_proyecto' %}" id="btn_reg"> Asignar Empleado a Proyecto </a>
</p>
<div style="max-width: 600px; margin: 50px auto;">
    <h1>Lista de Asignaciones</h1>
    <h2>Empleados asignados a Proyectos</h2>

        {% if asignaciones %}
        <table border="1" style="width: 110%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f46464; color: #ffffff">
                    <th style="padding: 10px;">Empleado</th>
                    <th style="padding: 10px;">Proyecto</th>
                    <th style="padding: 10px;">Cargo</th>
                    <th style="padding: 10px;">Sueldo Base</th>
                    <th style="padding: 10px;">Bono</th>
                    <th style="padding: 10px;">Fecha de Asignación</th>
                </tr>
            </thead>
            <tbody>
                {% for asignacion in asignaciones %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ asignacion.worker.first_name }} {{ asignacion.worker.last_name }}</td>
                    <td style="padding: 10px;">{{ asignacion.proyect.name }}</td>
                    <td style="padding: 10px;">{{ asignacion.position }}</td>
                    <td style="padding: 10px;">${{ asignacion.worker.base_pay|floatformat:0 }}</td>
                    <td style="padding: 10px;">${{ asignacion.bonus_pay|floatformat:0 }}</td>
                    <td style="padding: 10px;">{{ asignacion.proyect.start_date|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay empleados asignados a proyectos.</p>
    {% endif %}
</div>
{% endblock %}
