{% extends 'app/base.html' %}
{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registro_implemento' %}" id="btn_reg"> Registrar Nuevo Implemento</a>
</p>

<div style="max-width: 600px; margin: 50px auto;">
<h1>Implementos Registrados</h1>

    {% if implementos %}
        <table border="1" style="width: 110%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f46464; color: #ffffff">
                    <td style="padding: 10px;">ID</td>
                    <td style="padding: 10px;">Tipo</td>
                    <td style="padding: 10px;">Empleado</td>
                    <td style="padding: 10px;">Descripción</td>
                </tr>
            </thead>
            <tbody>
                {% for imp in implementos %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ imp.id }}</td>
                    <td style="padding: 10px;">{{ imp.itype }}</td>
                    <td style="padding: 10px;">{{ imp.worker.first_name }} {{ imp.worker.last_name }}</td>
                    <td style="padding: 10px;">{{ imp.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay implementos registrados.</p>
    {% endif %}
</div>
{% endblock %}

