{% extends 'app/base.html' %}

{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registrar_vehiculo' %}" id="btn_reg"> Registrar Nuevo Vehículo </a>
</p>

<div style="max-width: 600px; margin: 50px auto;">
    <h1>Lista de Vehículos</h1>
    {% if vehiculos %}
        <table border="1" style="width: 110%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f46464; color: #ffffff">
                    <th style="padding: 10px;">Patente</th>
                    <th style="padding: 10px;">Tipo</th>
                    <th style="padding: 10px;">Modelo</th>
                    <th style="padding: 10px;">Año</th>
                    <th style="padding: 10px;">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ vehiculo.patent }}</td>
                    <td style="padding: 10px;">{{ vehiculo.vtype }}</td>
                    <td style="padding: 10px;">{{ vehiculo.model }}</td>
                    <td style="padding: 10px;">{{ vehiculo.year }}</td>
                    <td style="padding: 10px;">{{ vehiculo.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay vehículos registrados.</p>
    {% endif %}

</div>
{% endblock %}