{% extends 'app/base.html' %}
{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registro_factura' %}" id="btn_reg"> Registrar Nueva Factura</a>
</p>

<div style="max-width: 600px; margin: 50px auto;">
<h1>Facturas Registradas</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Capacitación</th>
            <th>Monto</th>
            <th>Detalle</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.id }}</td>
            <td>{{ factura.empleado.first_name }} {{ factura.empleado.last_name }}</td>
            <td>{{ factura.capacitacion.name }}</td>
            <td>${{ factura.monto }}</td>
            <td>{{ factura.detalle }}</td>
            <td>{{ factura.estado }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay facturas registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
