<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Horarios</title>

</head>
    <body>
        <div>
            <section>
                <h1>Lista de Horarios</h1>
                {% for horario in data %}
                    <div>
                        <h2>Horario {{ horario.day_of_week }} ({{ horario.start }}, {{ horario.end }})</h2>
                    </div>
                {% endfor %}
            </section>
        </div>
    </body>
</html>