{% extends 'app/base.html' %}
{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registro_capacitacion' %}" id="btn_reg"> Registrar Nueva Capacitación </a>
</p>

<div style="max-width: 600px; margin: 50px auto;">
<h1>Lista de Capacitaciones</h1>
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Institución</th>
            <th>Fecha de término</th>
            <th>Certificado</th>
        </tr>
    </thead>
    <tbody>
        {% for cap in capacitaciones %}
        <tr>
            <td>{{ cap.name }}</td>
            <td>{{ cap.institution }}</td>
            <td>{{ cap.end_date }}</td>
            <td>{{ cap.cert }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay capacitaciones registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}