{% extends 'app/base.html' %}

{% block content %}
<p style="margin-top: 20px;">
    <a href="{% url 'registro_empleado' %}" id="btn_reg"> Registrar Nuevo Empleado </a>
    {% if filter == 'Todos' %}
    <a href="{% url 'lista_empleados' 'true'%}" id="btn_sec"> Ver Solo Activos</a>
    {% else %}
    <a href="{% url 'lista_empleados' 'false'%}" id="btn_sec"> Ver Todos</a>
    {% endif %}
</p>
<div style="max-width: 600px; margin: 50px auto;">
    <h1>Lista de Empleados</h1>
    <h2>{{ filter }} ({{ empleados.count }})</h2>
</div>
<div style="max-width: 800px; margin: 50px auto;">
    {% if empleados %}
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f46464; color: #ffffff">
                    <th style="padding: 10px;">RUT</th>
                    <th style="padding: 10px;">Nombre</th>
                    <th style="padding: 10px;">Cargo</th>
                    <th style="padding: 10px;">Teléfono</th>
                    <th style="padding: 10px;">Fecha Contrato</th>
                    <th style="padding: 10px;">Estado</th>
                    <th style="padding: 10px;">Otros</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ empleado.rut }}</td>
                    <td style="padding: 10px;">{{ empleado.first_name }} {{ empleado.last_name }}</td>
                    <td style="padding: 10px;">{{ empleado.profesion }}</td>
                    <td style="padding: 10px;">{{ empleado.phone }}</td>
                    <td style="padding: 10px;">{{ empleado.contract_date }}</td>
                    <td style="padding: 10px;">
                        {% if empleado.is_active %}
                            <a href="{% url 'toggle_empleado_status' empleado.rut %}"
                               style="background: #28a745; color: white; padding: 5px 10px; text-decoration: none; border-radius: 3px; font-size: 12px;">
                                 ACTIVO
                            </a>
                        {% else %}
                            <a href="{% url 'toggle_empleado_status' empleado.rut %}"
                               style="background: #dc3545; color: white; padding: 5px 10px; text-decoration: none; border-radius: 3px; font-size: 12px;">
                                 INACTIVO
                            </a>
                        {% endif %}
                    </td>
                    <td style="padding: 10px;">
                        <a href="{% url 'datos_empleado' empleado.rut %}"
                           style="background: #6c757d; color: white; padding: 5px 10px; text-decoration: none; border-radius: 3px; font-size: 12px;">
                                DATOS
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay empleados registrados.</p>
    {% endif %}
</div>
{% endblock %}
