{% extends 'app/base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 50px auto; padding: 20px;">
    <h1>Registrar Vehículo</h1>
    <form method="post">
        {% csrf_token %}

        <p>
            <label>{{ form.patent.label }}:</label><br>
            {{ form.patent }}
            {% if form.patent.errors %}<br><span style="color: red;">{{ form.patent.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.model.label }}:</label><br>
            {{ form.model }}
            {% if form.model.errors %}<br><span style="color: red;">{{ form.model.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.year.label }}:</label><br>
            {{ form.year }}
            {% if form.year.errors %}<br><span style="color: red;">{{ form.year.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.vtype.label }}:</label><br>
            {{ form.vtype }}
            {% if form.vtype.errors %}<br><span style="color: red;">{{ form.vtype.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.status.label }}:</label><br>
            {{ form.status }}
            {% if form.status.errors %}<br><span style="color: red;">{{ form.end.errors }}</span>{% endif %}
        </p>

        <p>
            <button type="submit" style="background: rgb(5, 146, 0); color: white; padding: 10px 20px; border: none;">
                Registrar Vehiculo
            </button>
        </p>
    </form>
</div>
{% endblock %}
