{% extends 'app/base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 50px auto;">
    <h1>Registro de Nuevo Horario</h1>
    <form method="post">
        {% csrf_token %}

        <p>
            <label>{{ form.worker.label }}:</label><br>
            {{ form.worker }}
            {% if form.worker.errors %}<br><span style="color: red;">{{ form.worker.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.day_of_week.label }}:</label><br>
            {{ form.day_of_week }}
            {% if form.day_of_week.errors %}<br><span style="color: red;">{{ form.day_of_week.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.start.label }}:</label><br>
            {{ form.start }}
            {% if form.start.errors %}<br><span style="color: red;">{{ form.start.errors }}</span>{% endif %}
        </p>

        <p>
            <label>{{ form.end.label }}:</label><br>
            {{ form.end }}
            {% if form.end.errors %}<br><span style="color: red;">{{ form.end.errors }}</span>{% endif %}
        </p>

        <p>
            <button type="submit" style="background: rgb(5, 146, 0); color: white; padding: 10px 20px; border: none;">
                Asignar Horario
            </button>
        </p>
    </form>
</div>
{% endblock %}